* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: aquamarine; */
    /* float: left; */
    /* box-sizing: border-box; */
    color: aliceblue;
    font-size: 15px;
}

.l_header, .l_footer {
    width: 100%;
    min-height: 100px;
    background-color: #19376D;
    float: left;
} 

.l_header {
    margin-bottom: 15px;
}

.l_footer {
    margin-top: 15px;
}

.l_navbar {
    width: 100%;
    min-height: 400px;
    background-color: #576CBC;
    float: left;
    /* margin-right: 15px; */
}

.l_content {
    width: 100%;
    min-height: 400px;
    background-color: #A5D7E8;
    float: left;
    /* margin: 0 15px 0 15px; */
}

.l_sidebar {
    width: 100%;
    min-height: 400px;
    background-color: #576CBC;
    float: left;
    /* float: right; */
    /* margin-right: 10px; */
}

.l_header, .l_footer, .l_content, .l_navbar, .l_sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 576px) {
    .l_content, .l_navbar, .l_sidebar{
        min-height: 150px;
    }
    .l_content {
        margin: 15px 0;
    }
    .row {
        margin: 0;
    }
} 

@media only screen and (min-width: 576px) {
    .l_content {
        /* margin: 0 15px ; */
        margin: 0;
    }
}


